<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Learn Libras</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
</head>
<style>
    #logo{
        height:50px;
        width:50px;
        left:10px;
        top:10px;
    }
    #curso_libras{
        top:250px;
        left:300px;
    }
    h1{
        left:80px;
        top:15px;
        white-space:nowrap;
    }
    #botao_login{
        left:1400px;
    }
    #cabecalho{
        position:fixed;
    }
    #img_curso_libras{
        left:425px;
        top:200px;
    }
</style>
<body>
    <div id="cabecalho">
        <img id='logo' src="../static/logo.svg">
        <h1>LEARN LIBRAS</h1>
        <button type='button' onclick="alert('Hello world!')" id='botao_login'>Login</button>
    </div id="cabecalho">
    <img id='img_curso_libras'src='../static/curso_libras.png'>
</body>
</html>